body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*************  nav start ****************/
#header .nav {
    display: flex;
    align-items: center;
    justify-content: end;
}
#header nav {
    margin-right: 36px;
}
#header .nav a.logout {
    margin-right: 12px;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    width: 74px;
    font-size: 13px;
    text-decoration: none;
    padding: 8px 12px;
    border: .5px solid #1C1F24;
}
#header .nav a.logout:hover {
    background-color: rgba(0, 0, 0, 0.06);
    border: .5px solid white;
}

#header nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

#header nav ul li {
    padding-left: 1rem;
}

#header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 500;
}
#header nav ul li a:hover {
    font-weight: 700;
}

a.active {
    font-weight: 700 !important;
}
.true {
    color: whitesmoke;
    background-color: #1C1F24 !important;
}

/*************  nav end ****************/

h1 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 42px;
    font-weight: 100;
}

.tagcontainer {
    width: 87%;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    margin-bottom: 4rem;
    gap: 4px;
}
.tagcontainer .tag {
    border-style: none;
    cursor: pointer;
    outline: none;
    text-decoration-line: none;
    background-color: rgba(0, 0, 0, 0.04);
    overflow: hidden;
    text-align: center;
    border-radius: 7px;
    padding: 6px 12px;
    margin: 0 0.3rem 0 0;
}
.tag:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

/* a.active {
    border: 2px solid red;
} */
/* .active {
    color: red;
} */

img {
    width: inherit;
    object-fit: cover;
    height: 200px;
}

.cardscontainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px;
    align-items: center;
}
.display-cards {
    width: 300px;
    height: 400px;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px rgb(0 0 0 / 11%);
    position: relative;
    border-radius: 5px;
}
.display-cards h3, p {
    margin-left: 6px;
}
.display-cards span {
    position: absolute;
    bottom: 1rem;
    left: .3rem;
    background-color: #283845;
    font-size: initial;
    padding: 0 3%;
    border-radius: 3px;
    text-align: center;
    color: white;
}
.display-cards .fa {
    position: absolute;
    border: none;
    bottom: 1rem;
    right: 1rem;
    background-color: inherit;
    cursor: pointer;
}

.display-cards .fa:hover {
    color: darkred;
}
