<header id="header">
  <div class="nav container">
    <nav>
      <ul class="links">
        <li><a data-active="/form" href="/form">Home</a></li>
        <li><a data-active="/gallery" href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <a href="/logout" class="logout">Logout</a>
  </div>
</header>
